button
{
height: 100px;
width: 300px;
font-size: 40px;
color: black;
background-color: white;
padding-top: 10px;
}

html
{
background-color: #0084FF;
font-size: 60px;
color: white;
}

input
{
	height: 80px;
    width: 400px;
	font-size: 40px; 
}

div#header
{
	height: 120px;
    width: 955px;
	font-size: 40px; 
	color: white;
	background-color:blue;
}

button#btnSendFeedback
{
	height: 100px;
    width: 955px;
	font-size: 40px; 
	padding-bottom: 10px;
	color: white;
	background-color: grey;
}